  <div class="container">
    <h2 class="title-lg mb">Редактируем вопрос <%= @question.id %></h2>

    <%= render 'form', question: @question %>

    <p class="mt"><%= link_to 'Вернуться', :back %></p>
  </div>
